@import "./simple";

:root {
  --bg: rgba(23, 107, 182, 1);
  --accent-bg: rgba(16, 77, 130, 1);
  --text: rgba(255, 255, 255, 0.9);
  --text-light: rgba(255, 255, 255, 0.9);
  --border: #d8dae1;
  --accent: rgba(255, 255, 255, 0.9);
  --accent-light: #c5e5ff;
  --code: #eee;
  --preformatted: #444;
  --marked: #ffdd33;
  --disabled: #efefef;
}

body {
  header {
    .keawade-avatar {
      width: 20rem;
      height: auto;
      border-radius: 10rem;
      background-color: white;
    }

    nav .external {
      border-color: rgba(255, 255, 255, 0.4);
    }
    nav .external:hover {
      border-color: rgba(255, 255, 255, 0.9);
    }
  }

  main {
    h1 {
      margin-bottom: 0rem;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 1rem;
      margin-bottom: 0rem;
    }

    .section-link {
      text-decoration: none;
    }

    .date {
      font-size: small;
      margin: 0rem;
    }

    .excerpt {
      margin: 0rem;
    }

    .summary {
      color: var(--accent-light);
      font-size: medium;

      a {
        color: var(--accent-light);
      }

      a:hover {
        color: var(--text);
      }
    }
  }
}

// Recommended styling from Zola for code syntax highlighting
pre {
  padding: 1rem;
  overflow: auto;
}
// The line numbers already provide some kind of left/right padding
pre[data-linenos] {
  padding: 1rem 0;
}
pre table td {
  padding: 0;
}
// The line number cells
pre table td:nth-of-type(1) {
  text-align: center;
  user-select: none;
}
pre mark {
  // If you want your highlights to take the full width.
  display: block;
  // The default background colour of a mark is bright yellow
  background-color: rgba(254, 252, 232, 0.9);
}
pre table {
  width: 100%;
  border-collapse: collapse;
}
