:root {
  --bg: rgba(23, 107, 182, 1);
  --accent-bg: rgba(16, 77, 130, 1);
  --text: rgba(255, 255, 255, 0.9);
  --text-light: rgba(255, 255, 255, 0.9);
  --border: #d8dae1;
  --accent: rgba(255, 255, 255, 0.9);
  --accent-light: #90caf9;
  --code: #bbb;
  --preformatted: #444;
  --marked: #ffdd33;
  --disabled: #efefef;
}

body {
  header {
    .keawade-avatar {
      width: 20rem;
      height: auto;
      border-radius: 10rem;
      background-color: white;
      transform: rotate(45deg);

      polygon {
        fill: rgba(23, 107, 182, 1);
      }
    }

    nav .external {
      border-color: rgba(255, 255, 255, 0.4);
    }
    nav .external:hover {
      border-color: rgba(255, 255, 255, 0.9);
    }
  }

  main {
    h1 {
      margin-bottom: 0rem;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 1rem;
      margin-bottom: 0rem;
    }

    .date {
      font-size: small;
      margin: 0rem;
    }
    .excerpt {
      margin: 0rem;
    }
  }
}
