#navigation {
  margin-top: 0;
  font-size: 1.1rem;

  .icon-heading {
    display: flex;
    justify-content: space-between;
    width: 10.75rem;
  }

  .keawade-avatar {
    width: 1.5rem;
    height: auto;
  }

  .heading-icon {
    color: #333;
  }

  // .ui.menu {
  //   .item {
  //     &.active {
  //       background-color: rgba(23, 107, 182, 0.05);
  //     }
  //     .item:hover {
  //       background-color: rgba(23, 107, 182, 0.03);
  //       &.active:hover {
  //         background-color: rgba(23, 107, 182, 0.03);
  //       }
  //     }
  //   }
  // }
}
