#home {
  min-height: calc(100vh - 96px);
  padding-top: 1.5rem;

  h1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .article-list {
    .article {
      padding-bottom: 1.5rem;
    }

    .header {
      a {
        text-decoration: none;
      }
    }

    .title {
      display: flex;
      flex-direction: column;
      margin-bottom: 0.67rem;

      h2 {
        margin-bottom: 0.25rem;
      }

      .date {
        font-size: 0.9rem;
      }
    }

    .excerpt {
      font-size: 1.1rem;
    }
  }
}
