<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Permissions-Policy" content="interest-cohort=()" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Keith Wade</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://use.fontawesome.com/releases/v5.9.0/css/all.css"
    />
    <link rel="stylesheet" href="{{ get_url(path="/site.css", cachebust=true) |
    safe }}" />
    <link rel="icon" href="/favicon.png" />
  </head>

  <body>
    <header>
      <a href="/">
        <svg
          alt="Keawade Avatar"
          class="keawade-avatar"
          width="500"
          height="500"
          viewBox="0 0 500 500"
        >
          <g transform="matrix(1.1 0 0 1 250 450)">
            <polygon points="-50,-50 -50,50 50,50 50,-50 " />
          </g>
          <g transform="matrix(1.05 0 0 2 147.5 400)">
            <polygon points="-50,-50 -50,50 50,50 50,-50 " />
          </g>
          <g transform="matrix(1.05 0 0 2 352.5 400)">
            <polygon points="-50,-50 -50,50 50,50 50,-50 " />
          </g>
          <g transform="matrix(1 0 0 1 250 150)">
            <polygon points="-50,-50 -50,50 50,50 50,-50 " />
          </g>
          <g transform="matrix(1 0 0 4 50 300)">
            <polygon points="-50,-50 -50,50 50,50 50,-50 " />
          </g>
          <g transform="matrix(1 0 0 4 450 300)">
            <polygon points="-50,-50 -50,50 50,50 50,-50 " />
          </g>
        </svg>
        <h2>Keith Wade</h2>
      </a>
      <nav>
        <a href="/about">about</a>
        <a href="https://github.com/keawade" target="_blank">
          <i class="fab fa-github fa-lg"></i>
        </a>
        <a href="https://twitter.com/TheKeithWade" target="_blank">
          <i class="fab fa-twitter fa-lg"></i>
        </a>
        <a href="https://linkedin.com/in/keawade" target="_blank">
          <i class="fab fa-linkedin fa-lg"></i>
        </a>
      </nav>
    </header>
    <main>{% block content %} {% endblock %}</main>
    <footer>
      This site was created by <a href="/">Keith Wade</a> using
      <a href="https://www.getzola.org/" target="_blank">Zola</a> and
      <a href="https://simplecss.org/" target="_blank">Simple.css</a>.
    </footer>
  </body>
</html>
