<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Permissions-Policy" content="interest-cohort=()" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Keith Wade</title>
    <link rel="stylesheet" href="{{ get_url(path="/site.css", cachebust=true) |
    safe }}" />
    <link rel="icon" href="/favicon.png" />
  </head>

  <body>
    <header>
      <a href="/">
        <img
          src="/assets/keawade.jpeg"
          alt="Keith Wade avatar"
          class="keawade-avatar"
          width="500"
          height="500"
        />

        <h2>Keith Wade</h2>
      </a>
      <nav>
        <a href="/about">About Me</a>
        <a class="external" href="https://github.com/keawade" target="_blank"
          >GitHub
        </a>
        <a
          class="external"
          href="https://twitter.com/TheKeithWade"
          target="_blank"
          >Twitter</a
        >
        <a
          class="external"
          href="https://linkedin.com/in/keawade"
          target="_blank"
          >LinkedIn</a
        >
      </nav>
    </header>
    <main>{% block content %} {% endblock %}</main>
    <footer>
      This site was created by <a href="/">Keith Wade</a> using
      <a href="https://www.getzola.org/" target="_blank">Zola</a> and
      <a href="https://simplecss.org/" target="_blank">Simple.css</a>.
    </footer>
  </body>
</html>
