<!DOCTYPE html>
<html lang="en" data-webtui-theme="catppuccin">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Permissions-Policy" content="interest-cohort=()" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% block ogdata %} {% endblock %}
    <meta property="og:image" content="/assets/keawade.jpeg" />
    <meta property="og:locale" content="en_US" />

    <title>Keith Wade</title>
    <link rel="stylesheet" href="{{ get_url(path="/water-dark.css", cachebust=true) | safe }}" />
    <link rel="stylesheet" href="{{ get_url(path="/site.css", cachebust=true) | safe }}" />
    <link rel="icon" href="/favicon.ico" />

    <link href="https://hachyderm.io/@keawade" rel="me">
  </head>

  <body>
    <header>
      <a href="/">
        <img src="/assets/keawade.jpeg" alt="Keith Wade avatar" class="keawade-avatar" width="500" height="500" />

        <h2>Keith Wade</h2>
      </a>
      <nav>
        |<a href="/">Home</a>|
        <a href="/posts">Posts</a>|
        <a href="/about">About</a>|
      </nav>
    </header>
    <main>{% block content %} {% endblock %}</main>
    <footer>
      {% if page.title %}
      <p>{{ page.title }} © {{ page.date | date(format="%Y") }} Keith Wade <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/">CC BY-NC-ND 4.0</a></p>
      {% else %}
      <p>© 2014-2025 Keith Wade <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/">CC BY-NC-ND 4.0</a></p>
      {% endif %}
 
      <p>This site was created by <a href="/">Keith Wade</a> using <a href="https://www.getzola.org/" target="_blank">Zola</a>.</p>
    </footer>
  </body>
</html>
