{% extends "base.html" %}

{% block ogdata %}
<meta property="og:title" content="{{ section.title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ current_url }}" />
<meta property="og:description" content="{{ section.description }}" />
{% endblock ogdata %}

{% block content %}
<h1>{{ section.title }}</h1>
<div role="list">
  {% for page in section.pages %}
    <section role="listitem">
      <a class="section-link" href="/posts/{{ page.slug }}">
        <h2>{{ page.title }}</h2>
        <p class="date">{{ page.date | date(format="%B %d, %Y")}}</p>
        <p class="excerpt">{{ page.description }}</p>
      </a>
      <div class="summary">{{ page.summary | safe }}</div>
      <a href="/posts/{{ page.slug }}#continue-reading">Continue reading.</a>
    </section>
  {% endfor %}
</div>
{% endblock content %}
